* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    padding: 100px 0px;
    background-color: #ffedca;
}
.images {
    width: 150px;
}
.table-01 {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px 0 #000;
}
.title {
    color: #CC6600;
    margin-top: 0px;
    padding-bottom: 20px;
}

.table-02 {
    width: 320px;
}

.table-02,
.table-02 th,
.table-02 td {
    border: 1px solid purple;
    border-collapse: collapse;
}
.table-02 thead {
    color: #fff;
    background-color:  #CC6600;
}
.table-02 th:first-child {
    width: 45px;
}
.table-02 td:first-child {
    text-align: center;
}
.table-02 tbody tr:nth-child(odd) {
    background-color: white;
}
.va-t {
    vertical-align: top;
}