/*
    00. Reset CSS
    01. General
    02. Footer
*/


/* ===================== 00. Reset CSS ===================== */
    * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    span img {
        display:  inline-block;
    }
    img {
        max-width: 100%;
    }
    *::before, *::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    span, a, img, *::before, *::after {
        display: inline-block;
    }
    a {
        text-decoration-line: none;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all 3s ease;
    }

    ul li {
        list-style-type:  none;
    }
    :focus {
        outline:  0;
    }
   html, body {
        font-size: 14px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        color: #555;
        line-height: 1.285; /*18 / 14 -> line hieght / font-size*/
        background-image: url(../images/background.jpg);
    }

    .container {
        width: 1170px;
        margin: 0 auto;
    }
    /*============ Column ============ */
    .row {
        font-size: 0;
        margin-left: -15px;
        margin-right: -15px;
    }
    .row > [class*="tcl-col"] {
        display: inline-block;
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        vertical-align: top;
    }
    .row > .tcl-col-3 {
        width: 25%;
    }
    .row > .tcl-col-9 {
        width: 75%;
    }
    .d-flex {
        display: flex;
    }
    .align-items-center {
        align-items: center;
    }
    .jc-between {
        justify-content: space-between;
    }
    .va-middle {
        vertical-align: middle;
    }
    /* =========== top-header =========== */
    .top-header {
        color: #0c8597;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 14px 0 10px 0;
        border-bottom: 1px solid #e9e9e9;
    }
    .main-header {
        padding: 6px 0px;
    }
    .main-header .logo {
        width: 130px;
    }
    .main-header .logo img {
        display: block;
    }
    .main-header .hotline {
        font-size: 16px;
    }
    .main-header .hotline .phone-number {
        color: #f9100b;
        font-size: 22px;
        font-weight: 700;
    }
    .main-header .hotline img,
    .main-header .hotline > span {
        vertical-align: middle;
    }
    .main-header > .row > * {
        vertical-align: middle;
    }
    .form-group {
        position: relative;

    }
    .form-group .form-control {
        width: 100%;
        height: 35px;
        padding-left: 15px;
        padding-right: 35px;
        font-size: 13px;
        border: 1px solid #dbdbdb;
        border-radius: 5px;
        color: #333;
        transition: all 0,3s ease;
        background-color: #fff;
    }
    .form-group .form-control::placeholder {
        color: #999;
    }
    .form-group .icons {
        position: absolute;
        top: 6px;
        right: 15px;
        font-size: 18px;
        color: #999;
        transition: all 0,3s ease;
    }
    .form-group .form-control:focus {
        border-color: #333;
    }
    .form-group .form-control::-webkit-input-placeholder {
        color: #999;
    }
    .form-group .form-control:-ms-input-placeholder { /* Internet Explorer */
        color: #999;
    }
    .form-group .form-control:focus + .icons {
        color: #333;
    }

    .main-menu ul {
        background-color: rgba(0, 0, 0, 0.1);
        border-bottom: 2px solid #cb672e;
    }
    .main-menu ul li a {
        padding: 10px 30px;
        display: block;
        color: #cb672e;
        font-weight: 700;
        font-size:  16px;
        padding-top: 12px;
        text-transform: uppercase;
        transition: all 0.3s ease;
    }
    .main-menu ul li:hover a {
        color: #fff;
        background-color: #cb672e;
    }

/* ===================== 03. Main ===================== */
main {
    /* min-height: 1000px; */
}
.main-content {
    margin-top: 14px;
}
/*=============== Main-left ===============*/
/*=============== Main-right ===============*/
.right-item {
    background-color: #fff;
    padding: 10px 15px 19px 15px;
    margin-bottom: 15px;
}
.right-item_title {
    text-transform: uppercase;
    /* color: #fcfcfc; */
    font-weight: 700;
    padding-bottom: 30px;
    font-size: 16px;
    position: relative;
}
.right-item_title .icons {
    position: absolute;
    top: 0;
    right: 0px;
}
.right-item_content li + li {
    padding-top: 15px;
}
.right-item_content .icons {
    width: 25px;
}
.right-item_content .description {
    color: #666;
    width: calc(100% - 145px);
    font-weight: 700;
}
.right-item_content .phone-number {
    padding-left: 10px;
    color: red;
    width: 120px;
}
.right-item_content li a {
    color: #323232;
    font-weight: 700;
}
.right-item_content li a:hover {
    color: #cb672e;
}

.right-item_content .images {
    width: 33%;
}
.right-item_content .images img {
    border: 1px solid #f1f1f1;
    width: 85px;
    height: 65px;
}
.right-item_content .infor {
    padding: 0px 5px;
    width: 66%;
}
.right-item_content .infor a {
    color: #323232;
    font-weight: 500;
}
.right-item_content .infor a:hover {
    color: #cb672e;
}
.right-item_content .descriptions {
    padding-top: 10px;
    font-weight: 400;
    color: #606060;
}

.line-w {
    border: 2px dotted #e5e5e5;
    margin: 10px 0px;
}

/* ===================== 02. Footer ===================== */
footer {
    margin-top: 50px;
}
.main-footer {
    padding-top: 45px;
    padding-bottom: 26px;
  }

.footer-bottom {
    background-color: #323232;
    padding: 12px 0px;
    color: #bfbfbf;
}
.footer-bottom .hotline {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #f9100b;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding: 7px 15px 3px 15px;
    line-height: 1;
}
.footer-item_title {
    font-size: 16px;
    text-transform: uppercase;
    color: #323232;
    font-weight: 700;
}
.footer-item_title::after {
    content: '';
    display: block;
    height: 2px;
    width: 40px;
    margin-top: 2px;
    background-color: blue;
    /* background-color: #ededed; */
}
.footer-item_content {
    margin-top: 26px;
}
.footer-item_content p {
    margin-bottom: 8px;
}
.footer-item_content li + li {
    margin-top: 6px;
}
.footer-item_content li a {
    color: #555;
    width: calc(100% - 25px);
    vertical-align: top;
}
.footer-item_content li a:hover {
    color: #cb672e;
}
.footer-item_content.catogories li::before{
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    vertical-align: top;
    background-color:#999;
    margin-right: 8px;
    margin-top: 6px;
}
.footer-item_content .icons {
    vertical-align: top;
    width: 25px;
}